// include module
@import '../../../dependencies/sass/_flex.scss';
@import '../../../dependencies/sass/_unit.scss';
// current sass
.chat {
  // position: relative;
  width: 100vw;
  height: 100vh;
  padding: {
    top: 159 / $unit * $symbol;
    bottom: 120 / $unit * $symbol;
  }
  .chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    background-color: #f2f2f4;
    .input-eara {
      @include vertical_center_horizontal_around();
      width: 100%;
      padding: {
        top: 9 / $unit * $symbol;
        bottom: 9 / $unit * $symbol;
      }
      border: {
        top: 1px solid #d5d5d7;
        bottom: 1px solid #d5d5d7;
      }
      i {
        font-size: 51 / $unit * $symbol;
        color: #7f8389;
      }
      .eara-add {
        @include center();
        width: 78  / $unit * $symbol;
        height: 100%;
        i {
          font-size: 51 / $unit * $symbol;
          color: #7f8389;
        }
        .add-send {
          @include center();
          width: 100%;
          height: 60  / $unit * $symbol;
          border-radius: 6 / $unit * $symbol;
        }
      }
      .eara-content {
        width: 486 / $unit * $symbol;
        border: 1px solid #dddddd;
        border-radius: 6 / $unit * $symbol;
        .content-edit {
          width: 100%;
          padding: {
            top: 9 / $unit * $symbol;
            bottom: 9 / $unit * $symbol;
          }
          border-radius: 6 / $unit * $symbol;
          .edit-container {
            @include vertical-center();
            width: 100%;
            height: auto;
            border-radius: 6 / $unit * $symbol;
            max-height: 180 / $unit * $symbol;
            overflow: auto;
            .text-emoji {
              display: inline-block;
              margin: {
                bottom: -12 / $unit * $symbol;
              }
              width: 42 / $unit * $symbol;
              height: 42 / $unit * $symbol;
            }
            // .container-text {
            //   width: 100%;
            //   line-height: 45 / $unit * $symbol;
            //   padding: {
            //     left: 12 / $unit * $symbol;
            //     right: 6 / $unit * $symbol;
            //   }
            //   font-size: 27 / $unit * $symbol;
            //   color: #333;
            // }
          }
        }
        .content-voice {
          @include center();
          width: 100%;
          height: 63 / $unit * $symbol;
          font-size: 27 / $unit * $symbol;
          color: #666666;
        }
      }
    }
    .input-facebread {
      position: relative;
      width: 100%;
      height: 459 / $unit * $symbol;
    }
  }
}
.switchMore {
  padding: {
    bottom: (459 + 120) / $unit * $symbol;
  }
}
// .text-emoji {
//   width: 30 / $unit * $symbol;
//   height: 30 / $unit * $symbol;
// }